-#  This file is app/views/movies/index.html.haml
%h1 All Movies

= form_tag movies_path, :method => :get do
  Include:
  - @all_ratings.each do |rating|
    = rating
    = check_box_tag "ratings[#{rating}]", '1', @filtered_ratings.include?(rating), :id => "ratings_#{rating}"
    = hidden_field_tag :sorting, @sort
  = submit_tag 'Refresh', :id => 'ratings_submit'
  
%table#movies
  %thead
    %tr
      %th{ :class => @sort == 'title' && "hilite" }
        %a{:id    => 'title_header',
           :href  => movies_path(:sorting => 'title', :ratings => @filtered_ratings)} Movie Title
      %th Rating
      %th{ :class => @sort == 'release_date' && "hilite" }
        %a{:id   => 'release_date_header',
           :href => movies_path(:sorting => 'release_date', :ratings => @filtered_ratings)} Release Date
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path